h1 {
    text-align: center;
    margin-top: 230px;
    font-size: 90px;
}

h1 span:nth-child(1) {
    color : #4285f3;
  }

  h1 span:nth-child(2) {
    color : #ea4435;
  }

  h1 span:nth-child(3) {
    color :#fbbd04;
  }

  h1 span:nth-child(4) {
    color :#ea4435;
  }

  h1 span:nth-child(5) {
    color :#fbbd04;
  }
  
  h1 span:nth-child(6) {
    color : #4285f3;
  }

  h1 span:nth-child(7) {
    color : #33a852;
  }

  h1 span:nth-child(8) {
    color : #ea4435;
  }

  h1 span:nth-child(9) {
    color : #4285f3;
  }

  .search-bar{
      width : 500px;
  }
